log-in.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title your site</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="main">
      <div class="header"> 
        <div class="main-container flex-wrap">
          <div class="col-auto mr-auto"><a class="header__logo" href=""></a></div>
          <div class="col-auto">
            <div class="header__sign-in"><a class="header__sign-in-link" href="">Log In</a><a class="header__sign-in-link header__sign-in-link--blue" href="">Join</a></div>
          </div>
        </div>
      </div>
      <div class="sign-in sign-in--login">
        <div class="main-container">
          <h1>Log in</h1>
          <form action="">
            <div class="form-row">
              <input class="form-row__input" type="email" placeholder="Email">
            </div>
            <div class="form-row">
              <input class="form-row__input" type="password" placeholder="Password">
            </div><a class="btn btn--blue btn--full sign-in__submit" href="">Log in</a>
          </form>
        </div>
      </div>
      <footer class="footer footer--inner"><a class="footer__logo" href=""></a>
        <p class="footer__info">Most popular spot to earn<br>online by watching videos.</p>
        <ul class="footer-list">
          <li class="footer-list__item"><a class="footer-list__link" href="">Home</a></li>
          <li class="footer-list__item"><a class="footer-list__link" href="">About us</a></li>
          <li class="footer-list__item"><a class="footer-list__link" href="">Terms of service</a></li>
          <li class="footer-list__item"><a class="footer-list__link" href="">Privacy policy</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>

src/pug/log-in.pug
extends layout/_layout

block content
	#main
		include blocks/_header
		.sign-in.sign-in--login
			.main-container
				h1 Log in
				form(action="")
					.form-row
						input(type="email" placeholder="Email").form-row__input
					.form-row
						input(type="password" placeholder="Password").form-row__input
					a(href="").btn.btn--blue.btn--full.sign-in__submit Log in
		include blocks/_footer-2
