registration.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title your site</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="main">
      <div class="header"> 
        <div class="main-container flex-wrap">
          <div class="col-auto mr-auto"><a class="header__logo" href=""></a></div>
          <div class="col-auto">
            <div class="header__sign-in"><a class="header__sign-in-link" href="">Log In</a><a class="header__sign-in-link header__sign-in-link--blue" href="">Join</a></div>
          </div>
        </div>
      </div>
      <div class="sign-in">
        <div class="bonus">
          <div class="bonus__inner">$5 registration bonus!  <a href="">Join</a>
          </div>
        </div>
        <div class="main-container">
          <h1>Registration</h1>
          <form action="">
            <div class="form-row form-row--error">
              <input class="form-row__input" type="text" placeholder="First name">
              <div class="form-row__hint">Error text description</div>
            </div>
            <div class="form-row">
              <input class="form-row__input" type="text" placeholder="Last name">
            </div>
            <div class="form-row">
              <input class="form-row__input" type="text" placeholder="Birthday">
            </div>
            <div class="form-row">
              <input class="form-row__input" type="email" placeholder="Email">
            </div>
            <div class="form-row">
              <input class="form-row__input" type="password" placeholder="Password">
            </div>
            <ul class="radio-list-i">
              <li class="radio-list-i__item">
                <label class="radio">
                  <input class="radio__input" type="radio" name="radio-1" checked>
                  <div class="radio__inner">Male</div>
                </label>
              </li>
              <li class="radio-list-i__item">
                <label class="radio">
                  <input class="radio__input" type="radio" name="radio-1">
                  <div class="radio__inner">Female</div>
                </label>
              </li>
            </ul>
            <p class="mt-15">By Creating An Account You Are Agreeing To Our  <a href="">Privacy Policy</a> And <a href="">Terms Of Service.</a>
            </p><a class="btn btn--blue btn--full sign-in__submit" href="">Create account</a>
          </form>
        </div>
      </div>
      <footer class="footer footer--inner"><a class="footer__logo" href=""></a>
        <p class="footer__info">Most popular spot to earn<br>online by watching videos.</p>
        <ul class="footer-list">
          <li class="footer-list__item"><a class="footer-list__link" href="">Home</a></li>
          <li class="footer-list__item"><a class="footer-list__link" href="">About us</a></li>
          <li class="footer-list__item"><a class="footer-list__link" href="">Terms of service</a></li>
          <li class="footer-list__item"><a class="footer-list__link" href="">Privacy policy</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>

src/pug/registration.pug
extends layout/_layout

block content
	#main
		include blocks/_header
		.sign-in
			.bonus
				.bonus__inner $5 registration bonus! 
					!=" "
					a(href="") Join
			.main-container
				h1 Registration
				form(action="")
					.form-row.form-row--error
						input(type="text" placeholder="First name").form-row__input
						.form-row__hint Error text description
					.form-row
						input(type="text" placeholder="Last name").form-row__input
					.form-row
						input(type="text" placeholder="Birthday").form-row__input
					.form-row
						input(type="email" placeholder="Email").form-row__input
					.form-row
						input(type="password" placeholder="Password").form-row__input
					ul.radio-list-i
						li.radio-list-i__item
							label.radio
								input(type="radio" name="radio-1" checked).radio__input
								.radio__inner Male
						li.radio-list-i__item
							label.radio
								input(type="radio" name="radio-1").radio__input
								.radio__inner Female
					p.mt-15 By Creating An Account You Are Agreeing To Our 
						!=" "
						a(href="" ) Privacy Policy
						!=" And "
						a(href="") Terms Of Service.
					a(href="").btn.btn--blue.btn--full.sign-in__submit Create account
		include blocks/_footer-2
