withdraw.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Title your site</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="main">
      <div class="header"> 
        <div class="main-container flex-wrap">
          <div class="col-auto mr-auto"><a class="header__logo" href=""></a></div>
          <div class="col-auto">
            <div class="header__menu"><a class="header__menu-btn" href="javascript:void(0)"></a>
              <div class="header__menu-drop"><a class="header__menu-link" href="">Home</a><a class="header__menu-link" href="">Profile</a><a class="header__menu-link" href="">Withdraw</a><a class="header__menu-link" href="">Log Out</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-container">
        <h1>Withdraw</h1>
        <form action="">
          <div class="form-row">
            <div class="form-row__label">Payment method:</div>
            <ul class="radio-list">
              <li class="radio-list__item">
                <label class="radio">
                  <input class="radio__input" type="radio" checked name="radio-2">
                  <div class="radio__inner">WebMoney</div>
                </label>
              </li>
              <li class="radio-list__item">
                <label class="radio">
                  <input class="radio__input" type="radio" name="radio-2">
                  <div class="radio__inner">Bank Card</div>
                </label>
              </li>
              <li class="radio-list__item">
                <label class="radio">
                  <input class="radio__input" type="radio" name="radio-2">
                  <div class="radio__inner">PayPal</div>
                </label>
              </li>
              <li class="radio-list__item">
                <label class="radio">
                  <input class="radio__input" type="radio" name="radio-2">
                  <div class="radio__inner">AliPay</div>
                </label>
              </li>
              <li class="radio-list__item">
                <label class="radio">
                  <input class="radio__input" type="radio" name="radio-2">
                  <div class="radio__inner">Western Union</div>
                </label>
              </li>
            </ul>
          </div>
          <div class="form-row">
            <div class="form-row__label">Withdraw amount:</div>
            <input class="form-row__input" type="text" value="100">
            <p class="form-row__info">Min withdraw $80</p>
          </div><a class="btn btn--blue btn--full mt-15" href="">Withdraw</a>
        </form>
      </div>
      <footer class="footer footer--inner"><a class="footer__logo" href=""></a>
        <p class="footer__info">Most popular spot to earn<br>online by watching videos.</p>
        <ul class="footer-list">
          <li class="footer-list__item"><a class="footer-list__link" href="">Home</a></li>
          <li class="footer-list__item"><a class="footer-list__link" href="">About us</a></li>
          <li class="footer-list__item"><a class="footer-list__link" href="">Terms of service</a></li>
          <li class="footer-list__item"><a class="footer-list__link" href="">Privacy policy</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>

src/pug/withdraw.pug
extends layout/_layout

block content
	#main
		include blocks/_header-2
		.main-container
			h1 Withdraw
			form(action="")
				.form-row
					.form-row__label Payment method:
					ul.radio-list
						li.radio-list__item
							label.radio
								input(type="radio" checked name="radio-2").radio__input
								.radio__inner WebMoney
						li.radio-list__item
							label.radio
								input(type="radio" name="radio-2").radio__input
								.radio__inner Bank Card
						li.radio-list__item
							label.radio
								input(type="radio" name="radio-2").radio__input
								.radio__inner PayPal
						li.radio-list__item
							label.radio
								input(type="radio" name="radio-2").radio__input
								.radio__inner AliPay
						li.radio-list__item
							label.radio
								input(type="radio" name="radio-2").radio__input
								.radio__inner Western Union
				.form-row
					.form-row__label Withdraw amount:
					input(type="text" value="100").form-row__input
					p.form-row__info Min withdraw $80
				a(href="").btn.btn--blue.btn--full.mt-15 Withdraw
		include blocks/_footer-2
